[submodule "super-trunfo"]
	path = super-trunfo
	url = git@github.com:aridsonf/super-trunfo.git
[submodule "jogo-de-adivinha-o"]
	path = jogo-de-adivinha-o
	url = git@github.com:aridsonf/jogo-de-adivinha-o.git
[submodule "conversor-de-moeda"]
	path = conversor-de-moeda
	url = git@github.com:aridsonf/conversor-de-moeda.git
[submodule "calculadora-de-m-dia"]
	path = calculadora-de-m-dia
	url = git@github.com:aridsonf/calculadora-de-m-dia.git
[submodule "tabela-de-classificacao"]
	path = tabela-de-classificacao
	url = git@github.com:aridsonf/tabela-de-classificacao.git
[submodule "conversor-de-temperatura"]
	path = conversor-de-temperatura
	url = git@github.com:aridsonf/conversor-de-temperatura.git
